---
http_interactions:
- request:
    method: get
    uri: https://api.kit.com/v4/email_templates
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Kit-Api-Key:
      - "<KIT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fcff627f37ec7382afcadc55438127e5"
    body:
      encoding: UTF-8
      string: '{"email_templates":[{"id":284222,"name":"Text only","is_default":true,"category":"Classic"}],"pagination":{"has_previous_page":false,"has_next_page":false,"start_cursor":"WzI4NDIyMl0=","end_cursor":"WzI4NDIyMl0=","per_page":500}}'
  recorded_at: Fri, 04 Sep 2026 16:26:22 GMT
recorded_with: VCR 6.4.0
