---
http_interactions:
- request:
    method: get
    uri: https://api.kit.com/v4/sequences
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Kit-Api-Key:
      - "<KIT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"927e8a037d4d32dd70df72e06938ce1d"
    body:
      encoding: UTF-8
      string: '{"sequences":[],"pagination":{"has_previous_page":false,"has_next_page":false,"start_cursor":null,"end_cursor":null,"per_page":500}}'
  recorded_at: Fri, 04 Sep 2026 16:26:22 GMT
recorded_with: VCR 6.4.0
