---
http_interactions:
- request:
    method: post
    uri: https://api.kit.com/v4/subscribers
    body:
      encoding: UTF-8
      string: '{"email_address":"<EMAIL>","first_name":"Integration"}'
    headers:
      Content-Type:
      - application/json
      X-Kit-Api-Key:
      - "<KIT_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc7dc466abc03c377d413288680af153"
    body:
      encoding: UTF-8
      string: '{"subscriber":{"id":4287675149,"first_name":"Integration","email_address":"<EMAIL>","state":"active","created_at":"2026-09-09T03:47:42Z","fields":{}}}'
  recorded_at: Wed, 09 Sep 2026 03:47:42 GMT
- request:
    method: post
    uri: https://api.kit.com/v4/tags
    body:
      encoding: UTF-8
      string: '{"name":"kit-rb integration"}'
    headers:
      Content-Type:
      - application/json
      X-Kit-Api-Key:
      - "<KIT_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fb262ab6e942298a4ebfa8900f8fe28"
    body:
      encoding: UTF-8
      string: '{"tag":{"id":23217323,"name":"kit-rb integration","created_at":"2026-09-09T03:47:42Z"}}'
  recorded_at: Wed, 09 Sep 2026 03:47:42 GMT
- request:
    method: post
    uri: https://api.kit.com/v4/tags/23217323/subscribers/4287675149
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Kit-Api-Key:
      - "<KIT_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb8f12b782f420ed422935a5977d7175"
    body:
      encoding: UTF-8
      string: '{"subscriber":{"id":4287675149,"first_name":"Integration","email_address":"<EMAIL>","state":"active","created_at":"2026-09-09T03:47:42Z","tagged_at":"2026-09-09T03:47:42Z","fields":{}}}'
  recorded_at: Wed, 09 Sep 2026 03:47:42 GMT
recorded_with: VCR 6.4.0
